[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.13.5"
bs4 = "==0.0.2"
requests = "==2.32.5"
csvtomd = "==0.3.0"

[dev-packages]

[requires]
python_version = "3.13"
