name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.6.0

      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.0

      - name: Installing Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          sudo npm install -g csvtojson
          sudo npm install -g prettier

      - name: Generate
        run: |
          chmod +x ./generate.sh
          ./generate.sh

      - name: Run
        run: ./IMDB.py
